@font-face {
    font-family: 'Maven Pro Light 300';
    src: url('MavenProLight300-Regular.woff2') format('woff2'),
    url('MavenProLight300-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Penna';
    src: url('Penna.woff2') format('woff2'),
    url('Penna.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Audrey';
    src: url('Audrey-Bold.woff2') format('woff2'),
    url('Audrey-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

html, body {
    position: relative;
    height: 100%;
    margin: 0;
}
.swiper-container{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: #eee;
}
.swiper-wrapper{
    margin: 0;
    padding: 0;
    left: 0;
    position: absolute;
    -moz-transition: left .35s ease-in-out;
    -webkit-transition: left .35s ease-in-out;
    transition: left .35s ease-in-out;
}
.swiper-slide{
    float: left;
    display: block;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
.dept{
    max-width: 100%;
    height: auto;
    padding: 2em;
    margin-top: 10%;
}

.dept .dept-name{
    font-family: 'Audrey' , sans-serif;
    font-size: 3em;
}
.pagenation{
    position: fixed;
    top: 0;
    width: 100vw;
    text-align: center;
}
.pagenation div{
    display: inline-block;
    border: 1px solid lightgray;
    background-color: lightgray;
    padding: .7em 1em;
    border-radius: 50%;
    margin: 0.2em;
}
.active{
    border: 1px solid cornflowerblue !important;
    background-color: cornflowerblue !important;
    box-shadow: 0 0 6px black;
}

@keyframes zoom-out {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0.8);
    }
}